{% extends 'base.html' %}


{% block container %}

<div class='col-md-12'>
 <br>
 <br>
 <br>
 Thank you  {{request.user}}  for your interest in renting on BookingSite. 
 <br>
 <br>
 Your request is currently under review... 
 <br>
 We will send you an email message once our review is complete. 
 <br>
 There is no need to appeal this action.
 <br>
 <br>
 <br>

 We appreciate your cooperation and thank you for using on BookingSite.
 <br>
 <br>
 <br>

Return To Your 
<a href="/profile/"> Profile</a>
	<br>
 
  
</div>
​
{% endblock %}