{% extends 'base.html' %}

{% block container %}
<div class="row">
<form action='/filter/' method='POST' enctype='multipart/form-data'>
{%csrf_token%}

{{form.as_p}}
<input type='submit' value ='search'>
</form>

{{valid}}
{%for i in date_start%}
	{{i.property_object}}<br>
	<img src="{{i.property_object.propertyimages_set.all.0.image.url}}"> <br>
	{{i.date_start}}
	{{i.date_end}}


	<form action='/create_booking/{{i.pk}}/' method='GET'>
		<input type='hidden' name='start_date' value='{{ i.date_start|date:"Y-m-d"}}'>
		<input type='hidden' name='end_date' value='{{ i.date_end|date:"Y-m-d"}}'>
		<input type='hidden' name='owner' value='{{ i.owner}}'>
		<input type='hidden' name='property_object' value='{{ i.property_object.pk}}'>


		<input type='hidden' name='s_pk' value='{{ i.pk }}'>

		<input type='submit' value='book'>

	</form>

	<hr>
{%endfor%}


{% comment %}
{{date_start}}	
	<a href="/create_booking/{{i.pk}}/">book</a>

{% endcomment %}


{% endblock %}