{% extends 'base.html' %}
{% block body %}

<div class="content-section-b"> 
<div class="container">
    <div class="row">
    <div class="col-sm-6 wow fadeInLeftBig">
         <div id="owl-demo-1" class="owl-carousel">

         {% for image in property.propertyimages_set.all %}
            <a href="{{image.image.url}}" class="image-link">
                <div class="item">
                    <img  class="img-responsive img-rounded" src="{{image.image.url}}" alt="">
                </div>
            </a>
            {% endfor %}

        </div>   
    </div>

    <div class="col-sm-6 wow fadeInRightBig"  data-animation-delay="200">   
    <h3 class="section-heading"> {{property.name}} </h3>
    <div class="sub-title lead3"> {{property.type }} </div>
    <div class="sub-title lead3"> <p> {{ property.description }}</p></div>
    <div class="sub-title lead3">
        {% for amenities in property.amenities.all %}
            <il>
                {{ amenities.name }}
            </il>
        {% endfor %}
    <br>
    <br></div>

    {% if request.user = property.owner %}
        <p><a class="btn btn-embossed btn-primary" href="/addimage/{{property.pk}}" role="button">Manage Images</a> 
        <a class="btn btn-embossed btn-info" href="/ownerschedule/{{property.pk}}"role="button">Manage Schedule</a></p>
    {% else %}
        <p><a class="btn btn-embossed btn-primary" href="#" role="button">Book Now !</a> </p>
    {% endif %}
    </div>
</div>
</div>
</div>

{% endblock %}
