{% extends 'base.html' %}

{% block container %}

        {% for property in properties %}
        <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="{{ MEDIA }}{{ property.propertyimages_set.all.0.image.url }}" alt="">
                    <div class="caption">
                        <h4 class="pull-right">{{ property.price }}</h4>
                        <h4><a href="/property_detail/{{ property.pk }}">{{ property.name }}</a>
                        </h4>
                        <p>{{ property.description }}</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">15 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
                </div>
                </div>
        </div>
        {% endfor %}



{% endblock %}
