{% extends 'base.html' %}
{% block body %}

<div id="Signin" class="content-section-a">
	<div class="container">
		<div class="row">

			{% if request.user.is_authenticated %}
				<div class="col-md-6 col-md-offset-3 text-center wrap_title">
					<h2>Welcome</h2>
					<p class="lead" style="margin-top:0">Happy to see you again </p>
					 Hi  : {{request.user}} , <br>
					  <a href="/logout/">logout</a> 
				</div>
			{% endif %}
	
			{% if not request.user.is_authenticated %}
				<div class="col-md-6 col-md-offset-3 text-center wrap_title">
					<h2>Sign In</h2>
					<p class="lead" style="margin-top:0">Happy to see you again </p>
					<form action='/signin/' method='POST'>
	 					{% csrf_token %}
	 					{{form.as_p}}
						<input type="submit" name="submit" id="submit" value="Sign In" class="btn wow tada btn-embossed btn-primary pull-right">
					</form>
				</div>
			{% endif %} 
			
		</div>
	</div>
</div>			
{% endblock%}